@media (max-width: 991.98px) {
    .app-main {
        display: block
    }

    .dropdown-menu::before, .dropdown-menu::after {
        display: none
    }

    .app-sidebar {
        flex: 0 0 280px !important;
        width: 280px !important;
        transform: translateX(-280px);
        position: fixed
    }

    .app-sidebar .app-header__logo {
        display: none
    }

    .sidebar-mobile-open .app-sidebar {
        transform: translateX(0)
    }

    .sidebar-mobile-open .app-sidebar .app-sidebar__inner .app-sidebar__heading {
        text-indent: initial
    }

    .sidebar-mobile-open .app-sidebar .app-sidebar__inner .app-sidebar__heading::before {
        display: none
    }

    .sidebar-mobile-open .app-sidebar .app-sidebar__inner ul li a {
        text-indent: initial;
        padding: 0 1.5rem 0 45px
    }

    .sidebar-mobile-open .app-sidebar .app-sidebar__inner .metismenu-icon {
        text-indent: initial;
        left: 5px;
        margin-left: 0
    }

    .sidebar-mobile-open .app-sidebar .app-sidebar__inner .metismenu-state-icon {
        visibility: visible
    }

    .sidebar-mobile-open .app-sidebar .app-sidebar__inner ul::before {
        display: block
    }

    .sidebar-mobile-open .app-sidebar .app-sidebar__inner ul ul li a {
        padding-left: 1em
    }

    .sidebar-mobile-open .app-sidebar .app-sidebar__inner ul.mm-show {
        padding: .5em 0 0 2rem
    }

    .sidebar-mobile-open .app-sidebar .app-sidebar__inner ul.mm-show>li>a {
        height: 2rem;
        line-height: 2rem
    }

    .sidebar-mobile-open .app-sidebar .app-header__logo {
        width: auto !important
    }

    .sidebar-mobile-open .app-sidebar .app-header__logo .logo-src {
        width: 97px !important;
        margin-left: auto;
        margin-right: 0
    }

    .sidebar-mobile-open .fixed-sidebar .app-sidebar {
        height: 100%
    }

    .sidebar-mobile-open .sidebar-mobile-overlay {
        display: block
    }

    .app-main .app-main__outer {
        padding-left: 0 !important
    }

    .app-header {
        justify-content: space-between
    }

    .app-header .app-header__logo {
        display: none;
        order: 2;
        background: transparent !important;
        border: 0 !important
    }

    .app-header .app-header__content {
        visibility: hidden;
        opacity: 0;
        box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
        position: absolute;
        left: 5%;
        width: 90%;
        top: 0;
        transition: all .2s;
        background: #fff;
        border-radius: 50px;
        padding: 0 10px;
        overflow: hidden
    }

    .app-header .app-header__content .header-btn-lg {
        margin-left: .5rem;
        padding: 0 .5rem
    }

    .app-header .app-header__content .app-header-left .nav {
        display: none
    }

    .app-header .app-header__content.header-mobile-open {
        visibility: visible;
        opacity: 1;
        top: 80px
    }

    .app-header .app-header__mobile-menu {
        display: flex;
        order: 1
    }

    .app-header .app-header__menu {
        display: flex;
        order: 3
    }

    .app-header.header-text-light .app-header__menu>span .btn, .app-header.header-text-light .app-header__menu>.btn {
        background: rgba(255, 255, 255, 0.1);
        border-color: rgba(255, 255, 255, 0.1)
    }

    .app-header.header-text-light .header-mobile-open {
        background: #343a40
    }

    .popover, .dropdown-menu {
        position: fixed !important;
        z-index: 50;
        left: 5% !important;
        top: 50% !important;
        width: 90% !important;
        transform: translateY(-50%) !important;
        min-width: 10px !important
    }

    .popover .btn-icon-vertical .btn-icon-wrapper, .dropdown-menu .btn-icon-vertical .btn-icon-wrapper {
        display: none
    }

    .popover {
        max-width: initial
    }

    .popover .arrow {
        display: none !important
    }

    .app-page-title {
        text-align: center
    }

    .app-page-title .page-title-heading, .app-page-title .page-title-wrapper {
        margin: 0 auto;
        display: block
    }

    .app-page-title .page-title-actions {
        margin: 15px auto 0
    }

    .app-page-title .page-title-actions .breadcrumb-item, .app-page-title .page-title-actions .breadcrumb, .app-page-title .page-title-subheading .breadcrumb-item, .app-page-title .page-title-subheading .breadcrumb {
        display: inline-block
    }

    .app-footer .app-footer__inner .app-footer-right {
        display: none
    }

    .app-footer .app-footer__inner .app-footer-left {
        width: 100%
    }

    .app-footer .app-footer__inner .app-footer-left .footer-dots {
        margin: 0 auto
    }

    .widget-content .widget-numbers {
        font-size: 1.6rem;
        line-height: 1
    }

    .slick-slider-sm .slick-slider {
        max-width: 650px !important
    }

    .bg-transparent.list-group-item {
        border-color: transparent
    }

    .tabs-lg-alternate.card-header>.nav .nav-item .widget-number {
        font-size: 1.5rem
    }

    .page-title-head {
        display: block
    }
}

@media (max-width: 991.98px) {
    .app-page-title .page-title-icon, .backtotop {
        display: none
    }

    .card-header.responsive-center {
        display: block;
        text-align: center;
        height: auto;
        padding: 1.5rem
    }

    .card-header.responsive-center .nav, .card-header.responsive-center .btn-actions-pane-right {
        margin: .75rem 0 0
    }

    .card-header.responsive-center .nav .d-inline-block.ml-2, .card-header.responsive-center .btn-actions-pane-right .d-inline-block.ml-2 {
        width: 100% !important;
        text-align: left;
        margin: 0 !important
    }

    .slick-slider-sm .slick-slider {
        max-width: 650px !important
    }
}

@media (min-width: 992px) {
    .slick-slider-sm .slick-slider {
        max-width: 850px !important
    }
}

@media (max-width: 1199.98px) {
    .-hide-paging .-pagination .-center {
        display: none
    }
}

@media (max-width: 767.98px) {
    .app-main .app-main__inner {
        padding: 15px 15px 0
    }

    .mbg-3, body .card.mb-3 {
        margin-bottom: 15px !important
    }

    .app-page-title {
        padding: 15px;
        margin: -15px -15px 15px
    }

    .app-page-title+.body-tabs-layout {
        margin-top: -15px !important
    }

    .body-tabs-line .body-tabs-layout {
        margin-bottom: 15px;
        margin-left: -15px;
        margin-right: -15px;
        padding: 0 15px
    }

    .body-tabs {
        padding: 0 15px;
        display: block
    }

    .body-tabs .nav-item .nav-link {
        margin: 0
    }

    .popover, .dropdown-menu {
        width: 80%;
        left: 10%
    }

    body .card-header {
        height: auto;
        display: block;
        padding: .75rem 1.5rem;
        text-align: center
    }

    body .card-header .btn-actions-pane-right {
        padding: .75rem 0 0
    }

    body .card-header .actions-icon-btn {
        padding: 0
    }

    .card-header.card-header-tab .card-header-title {
        display: inline-flex !important;
        line-height: 1
    }

    .card-header.card-header-tab>.nav {
        margin: .75rem 0 -.75rem;
        display: table !important;
        width: 100%
    }

    .card-header.card-header-tab>.nav .nav-item {
        display: table-cell
    }

    .header-icon {
        display: none
    }

    .profile-responsive-sm .dropdown-menu-header .menu-header-content.btn-pane-right, .profile-responsive .dropdown-menu-header .menu-header-content.btn-pane-right {
        display: block;
        text-align: center
    }

    .profile-responsive-sm .dropdown-menu-header .menu-header-content.btn-pane-right .avatar-icon-wrapper, .profile-responsive .dropdown-menu-header .menu-header-content.btn-pane-right .avatar-icon-wrapper {
        margin-right: 0 !important
    }

    .profile-responsive-sm .dropdown-menu-header .menu-header-content.btn-pane-right .menu-header-btn-pane, .profile-responsive .dropdown-menu-header .menu-header-content.btn-pane-right .menu-header-btn-pane {
        margin-top: 1rem
    }

    .slick-slider-sm .slick-slider .slick-prev {
        left: 15px
    }

    .slick-slider-sm .slick-slider .slick-next {
        right: 15px
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
    .profile-responsive .dropdown-menu-header .menu-header-content.btn-pane-right {
        display: block;
        text-align: center
    }

    .profile-responsive .dropdown-menu-header .menu-header-content.btn-pane-right .avatar-icon-wrapper {
        margin-right: 0 !important
    }

    .profile-responsive .dropdown-menu-header .menu-header-content.btn-pane-right .menu-header-btn-pane {
        margin-top: 1rem
    }
}

.backtotop {
    position: fixed;
    z-index: 155;
    right: -30px;
    top: 0;
    height: 100vh;
    transform: translate(500px);
    transition: all .2s;
    box-shadow: -0.46875rem 0 2.1875rem rgba(4, 9, 20, 0.03), -0.9375rem 0 1.40625rem rgba(4, 9, 20, 0.03), -0.25rem 0 0.53125rem rgba(4, 9, 20, 0.05), -0.125rem 0 0.1875rem rgba(4, 9, 20, 0.03)
}

.backtotop .btn-open-options {
    border-radius: 50px;
    position: absolute;
    left: -114px;
    bottom: 80px;
    padding: 0;
    height: 54px;
    line-height: 54px;
    width: 54px;
    text-align: center;
    display: block;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    margin-top: -27px
}

.backtotop .btn-open-options svg {
    top: 50%;
    left: 50%;
    position: absolute;
    margin: -0.5em 0 0 -0.5em
}

.backtotop .theme-settings__inner {
    background: #fff;
    width: 500px;
    height: 100vh;
    padding: 0
}

.backtotop.settings-open {
    transform: translate(0);
    right: 0
}

.backtotop .theme-settings-swatches {
    text-align: center
}

.backtotop .theme-settings-swatches .swatch-holder-img {
    width: 72px;
    height: auto;
    border-radius: 3px
}

.backtotop .theme-settings-swatches .swatch-holder-img img {
    width: 100%
}

.backtotop .themeoptions-heading {
    font-size: 1.1rem;
    color: #495057;
    margin: 0;
    background: #f8f9fa;
    padding: .75rem 1.5rem;
    border-bottom: #dee2e6 solid 1px;
    border-top: #dee2e6 solid 1px;
    display: flex;
    align-items: center;
    align-content: center
}

.backtotop .themeoptions-heading:first-child {
    border-top: 0
}

.backtotop .list-group-item h5 {
    color: #3f6ad8;
    font-size: .968rem;
    text-transform: uppercase;
    margin: 0;
    text-align: center
}

.swatch-holder {
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin: 5px 5px 0;
    transition: all .2s;
    opacity: .7;
    display: inline-block;
    border-radius: 30px
}

.swatch-holder.active {
    border: #fff solid 2px;
    box-shadow: 0 0 0 5px #3f6ad8;
    opacity: 1
}

.swatch-holder:hover {
    opacity: 1
}

.swatch-holder-lg {
    width: 48px;
    height: 48px;
    line-height: 48px
}

.font-icon-wrapper {
    text-align: center;
    border: #e9ecef solid 1px;
    border-radius: .25rem;
    margin: 0 0 10px;
    padding: 5px
}

.font-icon-wrapper.font-icon-lg {
    float: left;
    padding: 10px;
    text-align: center;
    margin-right: 15px;
    min-width: 64px
}

.font-icon-wrapper.font-icon-lg i {
    font-size: 2.5rem
}

.font-icon-wrapper:hover {
    background: #f8f9fa;
    color: #3f6ad8
}

.font-icon-wrapper:hover p {
    color: #6c757d
}

.font-icon-wrapper i {
    font-size: 1.65rem
}

.font-icon-wrapper p {
    color: #adb5bd;
    font-size: .80667rem;
    margin: 5px 0 0
}

.btn-icon-vertical {
    min-width: 100px
}

.card.mb-3 {
    margin-bottom: 30px !important
}

.demo-image-bg {
    height: 350px;
    margin-bottom: 30px;
    background-size: 100%
}
.vertical-nav-menu {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none
}

.vertical-nav-menu::after {
    content: " ";
    pointer-events: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0
}
.vertical-nav-menu .mm-collapse:not(.mm-show) {
    display: none
}

.vertical-nav-menu .mm-collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition-timing-function: ease;
    transition-duration: .25s;
    transition-property: height, visibility
}

.vertical-nav-menu ul {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none
}

.vertical-nav-menu:before {
    opacity: 0;
    transition: opacity 300ms
}

.vertical-nav-menu li a {
    display: block;
    line-height: 2.4rem;
    height: 2.4rem;
    padding: 0 1.5rem 0 45px;
    position: relative;
    border-radius: .25rem;
    color: #343a40;
    white-space: nowrap;
    transition: all .2s;
    margin: .1rem 0
}

.vertical-nav-menu li a:hover {
    background: #e0f3ff;
    text-decoration: none
}

.vertical-nav-menu li a:hover i.metismenu-icon {
    opacity: .6
}

.vertical-nav-menu li a:hover i.metismenu-state-icon {
    opacity: 1
}

.vertical-nav-menu li.mm-active>a {
    font-weight: bold
}

.vertical-nav-menu li.mm-active>a i.metismenu-state-icon {
    transform: rotate(-180deg)
}

.vertical-nav-menu li a.mm-active {
    color: #343a40;
    background: #e0f3ff;
    font-weight: bold
}

.vertical-nav-menu i.metismenu-state-icon,.vertical-nav-menu i.metismenu-icon {
    text-align: center;
    width: 34px;
    height: 34px;
    line-height: 34px;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -17px;
    font-size: 1.5rem;
    opacity: .3;
    transition: color 300ms
}

.vertical-nav-menu i.metismenu-state-icon {
    transition: transform 300ms;
    left: auto;
    right: 0
}

.vertical-nav-menu ul {
    transition: padding 300ms;
    padding: .5em 0 0 2rem
}

.vertical-nav-menu ul:before {
    content: '';
    height: 100%;
    opacity: 1;
    width: 3px;
    background: #e0f3ff;
    position: absolute;
    left: 20px;
    top: 0;
    border-radius: 15px
}

.vertical-nav-menu ul>li>a {
    color: #6c757d;
    height: 2rem;
    line-height: 2rem;
    padding: 0 1.5rem 0
}

.vertical-nav-menu ul>li>a:hover {
    color: #3f6ad8
}

.vertical-nav-menu ul>li>a .metismenu-icon {
    display: none
}

.vertical-nav-menu ul>li>a.mm-active {
    color: #3f6ad8;
    background: #e0f3ff;
    font-weight: bold
}