html{
	font-size:16px !important;
}
.fixed-header .app-main {
    padding-top: 60px;
}
#wrap_content{overflow-x: hidden;}

.fixed-sidebar .app-main .app-main__outer {
    padding-left: 236px;
    width: 100vw;
}
.closed-sidebar.fixed-sidebar .app-main__outer {
    padding-left: 80px;
}

.app-header__logo {
    background-color: #031528 !important;
    padding: 0 1rem !important;
}

.app-header .app-header__content {
    background-color: #031528 !important;
}


.header-user-info {
    display: block;
    color: #fff;
  
}

.app-main .app-main__inner {
    padding: 20px 20px 0 !important;
}



.noselect{
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.blink_me { animation: blinker .8s linear 3; }

@keyframes blinker { 50% { opacity: 0; } }

.loading-overlay-content { 
	font-size: 1.2em !important; 
	color:#fff !important;
	background-color: #2b2b2b !important; 
}

