html{
	font-size:16px !important;
}

.app-header__logo {
    background-color: #031528 !important;
}

.app-header .app-header__content {
    background-color: #031528 !important;
}


.header-user-info {
    display: block;
    color: #fff;
  
}

.noselect{
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

